
body {
    font-family: 'Instrument Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header .logo img {
    width: 80px;
}

header .logo {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    /* text-align: center; */
}

header {
    font-family: 'Instrument Sans', Arial, sans-serif;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #B4BDA1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 70px;
    
}

header nav {
    display: flex;
    flex-grow: 2; 
    justify-content: space-between;
    padding-right: 20px;
}

header nav.left {
    justify-content: flex-start;
}

header nav.right {
    justify-content: flex-end;
    gap: 30px; 
    
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #5888bc;
}


footer {
    background-color: #B4BDA1; 
    color: #333;
    text-align: center;
    padding: 10px 0; 
    font-family: 'Instrument Sans', Arial, sans-serif;
    position: relative; 
    bottom: 0; 
    width: 100%; 
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
}

footer p {
    margin: 0; 
    font-size: 1rem; 
    font-weight: 600;
}